.vscode/**
.vscode-test/**
src/**
!src/webview/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
test/**
.git/**
*.vsix
node_modules/**
!node_modules/image-size/**
!node_modules/detect-libc/**
!node_modules/semver/**
!node_modules/color/**
!node_modules/color-convert/**
!node_modules/color-name/**
!node_modules/color-string/**
!node_modules/commander/**
!node_modules/debug/**
!node_modules/fs-extra/**
!node_modules/glob/**
!node_modules/ignore/**
!node_modules/is-glob/**
!node_modules/is-extglob/**
!node_modules/rimraf/**
!node_modules/supports-color/**
!node_modules/tar/**
!node_modules/which/**
!images/** 